/* CardHeader.css */
.card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  margin: 25px 0;
}
p {
  margin: 0;
}
.title {
  display: flex;
  align-items: center;
}
.icon {
  width: 24px; /* Adjust icon size */
  height: 24px;
  margin-right: 10px;
}

/* Layout.css */
.layout {
  display: flex;
  justify-content: space-between;
  /* Ensure all columns take equal space */
}

.column {
  flex: 1; /* Ensures equal size columns */
  margin: 0 10px; /* Spacing between columns */
}
#control {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 4px;
}
.icons {
  display: flex;
  align-items: center;
}
.size {
  margin: 0 15px;
  color: #8d8c8c;
}
